@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka";
  letter-spacing: 0.2px;
  scroll-behavior: smooth;
}

.fbParent {
  display: block;
}

.fb200 {
  display: none;
}

.fb300 {
  display: none;
}

.fb500 {
  display: block;
}

@media (max-width: 572px) {
  .fb200 {
    display: none;
  }

  .fb300 {
    display: block;
  }

  .fb500 {
    display: none;
  }
}

@media (max-width: 328px) {
  .fb200 {
    display: block;
  }

  .fb300 {
    display: none;
  }

  .fb500 {
    display: none;
  }
}

.videoResponsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.videoResponsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}